<p id="notice"><%= notice %></p>

<h1>Single Votes</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @single_votes.each do |single_vote| %>
      <tr>
        <td><%= link_to 'Show', single_vote %></td>
        <td><%= link_to 'Edit', edit_single_vote_path(single_vote) %></td>
        <td><%= link_to 'Destroy', single_vote, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Single Vote', new_single_vote_path %>
