<%= render partial: "shared/notice", locals: { notice: notice } %>

<div class="jumbotron">
  <h1><span class="brand-color">Val</span>id <span class="brand-color">Vo</span>te</h1>
  <h3>Simple way of organizing better votings!</h3>
  <br/>
  <br/>
  <br/>
  <div class="container row">
    <%= link_to({ controller: :votes, action: :new }, class: "btn btn-primary btn-lg") do%>
      PaperVoting
      <span href="#" data-toggle="tooltip" data-placement="top" title="Vote with paper forms. Voters can validate their vote.">
        <%= icon('info-circle')%>
      </span>
    <% end%>
    <a href="#" class="btn btn-disabled btn-default btn-lg">
      InternetVoting
      <span href="#" data-toggle="tooltip" data-placement="top" title="Internet voting - work in progress">
        <%= icon('info-circle')%>
      </span>
    </a>
    <a href="#" class="btn btn-disabled btn-default btn-lg">
      PaperVoting
      <span href="#" data-toggle="tooltip" data-placement="top" title="Voting machines - work in progress">
        <%= icon('info-circle')%>
      </span>
    </a>
  </div>
</div>
