<%= form_for(voting_decision) do |f| %>
      <legend class="lead">Vote</legend>
      <% if voting_decision.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(voting_decision.errors.count, "error") %> prohibited this vote from being saved:</h2>

            <ul>
              <% voting_decision.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <div class="form-group">
        <div class="form-check">
          <label class="form-check-label">
            <%= f.radio_button :candidate_number, -1, as: :radio %>
            vote empty
          </label>
        </div>
        <% @voting_decision.vote.candidates.count.times do |i| %>
            <div class="form-check">
              <label class="form-check-label">
                <%= f.radio_button :candidate_number, i + 1, as: :radio %>
                <%= i + 1 %>
              </label>
            </div>
        <%end%>
      </div>

      <div class="actions">
        <%= f.submit 'Vote', :class => 'btn btn-primary' %>
      </div>
<% end %>
