<%= form_for(vote, html: { class: "form-horizontal" }) do |f| %>
  <fieldset>
    <legend class="lead">New vote</legend>
      <% if vote.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(vote.errors.count, "error") %> prohibited this vote from being saved:</h2>

          <ul>
            <% vote.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="input-group col-sm-6">
        <span class="input-group-addon"><%= icon('font')%></span>
        <%= f.text_field :title, placeholder: 'Title', class: 'form-control'%>
        <span class="input-group-addon">
          <span href="#" data-toggle="tooltip" data-placement="top" title="Set a title for the vote. It appears on the voting forms(soonish).">
            <%= icon('info-circle')%>
          </span>
        </span>
      </div>
      </br>

      <div class="input-group col-sm-6">
        <span class="input-group-addon"><%= icon('file')%> How many voters?</span>
        <%= f.number_field :voting_form_count, value: 2, class: 'form-control' %>
      </div>
      <br/>

      <label class="lead">Candidates
        <span href="#" data-toggle="tooltip" data-placement="top" title="You can specify(soonish) the candidate labels, otherwise they are given generic labels.">
          <%= icon('info-circle')%>
        </span>
      </label>
      <div class="control-group">
        <label class="radio-inline">
          <input type="radio" name="labelradio" checked/> unlabeled
        </label>
        <label class="radio-inline">
          <input type="radio" name="labelradio" disabled /> labeled
        </label>
      </div>
      <br/>

      <div class="input-group col-sm-6">
        <span class="input-group-addon"><%= icon('users')%> How many candidates?</span>
        <%= f.number_field :candidate_count, value: 2, class: 'form-control' %>
      </div>
      <br/>

      <div class="control-group">
        <label class="lead">
          VotingSystem
          <span href="#" data-toggle="tooltip" data-placement="top" title="What rules the casting, counting and aggregating of the votes follow.">
            <%= icon('info-circle')%>
          </span>
        </label>
        <br/>
        <label class="radio-inline">
          <input type="radio" name="systemradio" checked>first-past-the-post
        </label>
        <label class="radio-inline">
          <input type="radio" name="systemradio" disabled><light>ranked-choice voting</light>
        </label>
      </div>
      <br>

      <label class="lead">
        Visibility
        <span href="#" data-toggle="tooltip" data-placement="top" title="Public votings are visible for everyone.">
          <%= icon('info-circle')%>
        </span>
      </label>
      <div class="control-group">
        <label class="radio-inline">
          <%= f.radio_button(:private, false, as: :radio, value: true, checked: true) %>
          public
        </label>
        <label class="radio-inline">
          <%= f.radio_button :private, true, as: :radio, value: false %>
          private
        </label>
      </div>
      <br/>

      <div class="actions">
        <%= f.submit 'Create', :class => 'btn btn-primary' %>
      </div>
  </fieldset>
<% end %>
