<%= form_for(vote, html: { class: "form-horizontal" }) do |f| %>
  <fieldset>
    <legend class="lead">New vote</legend>
      <% if vote.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(vote.errors.count, "error") %> prohibited this vote from being saved:</h2>

          <ul>
          <% vote.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="input-group col-sm-6">
        <span class="input-group-addon"><%= icon('font')%></span>
        <input type="text" class="form-control" name="title" placeholder="Title">
        <span class="input-group-addon"><%= icon('info-circle')%></span>
      </div>
      </br>

      <div class="input-group col-sm-6">
        <span class="input-group-addon"><%= icon('users')%></span>
        <%= f.number_field :voting_form_count, value: 2, class: 'form-control' %>
        <span class="input-group-addon">How many voters?</span>
      </div>
      <br/>

      <div class="input-group col-sm-6">
        <span class="input-group-addon"><%= icon('file')%></span>
        <%= f.number_field :candidate_count, value: 2, class: 'form-control' %>
        <span class="input-group-addon">How many candidates?</span>
      </div>
      <br/>

      <div class="control-group">
        <%= f.label :voting_system, class: 'lead' %>
        <br/>
        <label class="radio-inline">
          <input type="radio" name="systemradio" checked>first-past-the-post <%= icon('info-circle') %>
        </label>
        <label class="radio-inline">
          <input type="radio" name="systemradio" disabled>ranked-choice voting <%= icon('info-circle') %>
        </label>
      </div>
      <br>

      <div class="control-group">
        <%= f.label :privacy, class: 'lead' %>
        <br/>
        <label class="radio-inline">
          <input type="radio" name="privacyradio" checked>public <%= icon('info-circle') %>
        </label>
        <label class="radio-inline">
          <input type="radio" name="privacyradio" disabled>private <%= icon('info-circle') %>
        </label>
      </div>
      <br>
      <div class="actions">
        <%= f.submit 'Create', :class => 'btn btn-success' %>
      </div>
  </fieldset>
<% end %>
