<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Title</th>
      <th>Status</th>
      <th>Created</th>
      <th>Forms</th>
      <th>Candidates</th>
    </tr>
  </thead>

  <tbody>
    <% votes.each_with_index do |vote, i| %>
      <tr>
        <td><%= i + 1 %></td>
        <td>
          <%= link_to(vote) do %>
            <% if vote.title && !vote.title.empty? %>
              <%= vote.title%>
            <% else%>
              unnamed
            <%end%>
          <%end%>
        </td>
        <td><%= vote.status %></td>
        <td><%= time_ago_in_words(vote.created_at) %> ago</td>
        <td><%= vote.voting_forms.count %></td>
        <td><%= vote.candidates.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>
