<%= render partial: "shared/notice", locals: { notice: notice } %>

<legend>
  Voting
  <span class="badge badge-info">
    <% if @vote.status == 'Unstarted'%>
      <%= icon('hourglass-start')%>
    <% elsif @vote.status == 'Ongoing'%>
      <%= icon('hourglass-half')%>
    <% else %>
      <%= icon('hourglass-end')%>
    <%end%>
    <%= @vote.status %>
  </span>
  <span class="badge">
    <%= icon('qrcode')%>
    <%= "#{@vote.voting_forms.count} forms" %>
  </span>
  <span class="badge">
    <%= icon('user-circle-o')%>
    <%= "#{@vote.candidates.count} candidates" %>
  </span>
</legend>
<%= link_to({ controller: :votes, action: :show, format: :pdf }) do%>
  <%= icon('file-pdf-o')%> PDF
<%end%>
<br/>
<br/>
<% if @vote.has_ended? %>
  <%= render partial: "results", locals: { candidates: @vote.candidates } %>
<% end %>
