<p id="notice"><%= notice %></p>
<p>Created at <%= @vote.created_at.to_formatted_s(:short) %></p>
<p><%= @vote.candidates.count %> candidates</p>
<p><%= link_to "#{@vote.voting_forms.count} voting forms", [@vote, :voting_forms] %></p>
<p><%= link_to 'PDF', { controller: :votes, action: :show, format: :pdf }%></p>

<%= link_to 'Back', votes_path %>
