<p id="notice"><%= notice %></p>

<h1>
  <% if @vote.voting_start.nil? %>Voting has not started yet
  <% elsif @vote.voting_end.nil? %>Voting has started
  <% else %>Voting has ended
  <% end %>
</h1>
<p><%= @vote.created_at.to_formatted_s(:short) %></p>
<p><%= @vote.candidates.count %> candidates</p>
<p><%= "#{@vote.voting_forms.count} voting forms" %></p>
<p><%= link_to 'PDF', { controller: :votes, action: :show, format: :pdf }%></p>

<%= link_to 'Back', votes_path %>
