<%= render partial: "shared/notice", locals: { notice: notice } %>

<legend>
  Voting
  <span class="badge badge-info"><%= @vote.status %></span>
  <span class="badge"><%= "#{@vote.voting_forms.count} forms" %></span>
  <span class="badge"><%= "#{@vote.candidates.count} candidates" %></span>
</legend>
<p><%= link_to 'PDF', { controller: :votes, action: :show, format: :pdf }%></p>
<% if @vote.has_ended? %>
  <%= render partial: "results", locals: { candidates: @vote.candidates } %>
<% end %>

<%= link_to 'Back', votes_path %>
