<%= render partial: "shared/notice", locals: { notice: notice } %>

<legend>Voting</legend>
<p>Status: <%= @vote.status %></p>
<p><%= "#{@vote.voting_forms.count} forms" %></p>
<p><%= "#{@vote.candidates.count} candidates" %></p>
<% if @vote.has_ended? %>
  <%= render partial: "results", locals: { candidates: @vote.candidates } %>
<% end %>

<%= link_to 'Back', votes_path %>
