<!DOCTYPE html>
<html>
  <head>
    <title>Valid Vote</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#f46524">

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="wrap">
      <%= render partial: "shared/header" %>
      <div id="main" class="container clear-top">
        <%= yield %>
      </div>
    </div>
    <%= render partial: "shared/footer" %>
  </body>
</html>
